<% if @accommodation %>
  <p>Accommodation name: <%= @accommodation.name %></p>
  <p>Brief Description: <%= @accommodation.desc %></p>
  <p>Price: £<%= @accommodation.price %></p>

  <% if current_user %>
    <% if @accommodation.user_id == current_user.id %>
      <form id="new-inventories" action="/inventories" method="post">
        <p>Add inventory dates:</p>
        <input type="hidden" name="accommodation_id" value="<%= @accommodation.id %>"/>
        <label for="start-date">Start Date: </label>
        <input type="text" class="datepicker" name="start_date" id="start-date" placeholder="DD/MM/YYYY">
        <label for="end-date">End Date: </label>
        <input type="text" class="datepicker" name="end_date" id="end-date" placeholder="DD/MM/YYYY">
        <input type="submit" id="submit_inventories" value="Add Dates"/>
      </form>
    <% else %>
      <p>Select dates:</p>
      <form id="new-request" action="/request" method="post">
        Check-in: <input type="text" class="datepicker" placeholder="DD/MM/YYYY" id="check-in" name="check_in" >
        Check-out: <input type="text" class="datepicker" placeholder="DD/MM/YYYY" id="check-out" name="check_out" >
        <input type="hidden" name="accommodation_id" value="<%= @accommodation.id %>">
        <input type="submit" value="Request Booking">
      </form>
    <% end %>
  <% end %>
<% else %>
  <p>Sorry, we can't find that accommodation</p>
<% end %>
