<% if current_user %>
<div class="container text-center">
  <div class="row">
  <span class="title-font3 shadow--light pull-left">Requests Made</span><span class="title-font3 shadow--light pull-right">Requests Sent</span>
  </div>
  <p></p>
  <div class="row">
    <div class="col-sm-1 col-md-1 col-lg-1">
    </div>
  <div class="col-sm-5 col-md-5 col-lg-5">
    <% @sent_requests.each do |request| %>
<table id="sent-requests">
  <tr>
    <th class="text-right">Accommodation &nbsp</th>
    <td><%= request.accommodation.name %></td>
  </tr>
  <tr>
    <th class="text-right">Check-in &nbsp</th>
    <td><%= request.check_in.strftime("%d/%m/%Y") %></td>
  </tr>
  <tr>
    <th class="text-right">Check-out &nbsp</th>
    <td><%= request.check_out.strftime("%d/%m/%Y") %></td>
  </tr>
   <tr>
    <th class="text-right">Confirmed? &nbsp</th>
    <td><%= request.confirmed %></td>
    </tr>
  <% end %>
</table>
</div>
<div class="col-sm-5 col-md-5 col-lg-5">
  <% @received_requests.each do |request| %>
<table id="received-requests">
<tr id="request-<%= request.id %>">
  <tr>
    <th class="text-right">Accommodation &nbsp</th>
    <td><a href="/requests/<%= request.id %>"><%= request.accommodation.name %></a></td>
  </tr>
  <tr>
    <th class="text-right">Check-in &nbsp</th>
    <td><%= request.check_in.strftime("%d/%m/%Y") %></td>
  </tr>
  <tr>
    <th class="text-right">Check-out &nbsp</th>
    <td><%= request.check_out.strftime("%d/%m/%Y") %></td>
  </tr>
  <tr>
    <th class="text-right">Requested By &nbsp</th>
    <td><%= request.user.name %></td>
  </tr>
  <tr>
    <th class="text-right">Confirmed? &nbsp</th>
    <td><%= request.confirmed %></td>
  </tr>
  <% end %>
</table>
<div class="row">
  <div class="col-sm-1 col-md-1 col-lg-1">
  </div>

  <div class="row">
    <% else %>
  <p class="title-font3 shadow--light text-center">Please log in</p>
  </div>

  <% end %>

</div>
</div>
</div>
