<% if current_user %>
<div class="container text-center">
  <div class="row">
  <p>
  <form id="accept-request" action="/requests/<%= @current_request.id %>" method="post">
    <input type="hidden" name="_method" value="put">
    <input type="hidden" name="check_in" value="<%= @current_request.check_in %>">
    <input type="hidden" name="check_out" value="<%= @current_request.check_out %>">
    <input type="hidden" name="accommodation_id" value="<%= @current_request.accommodation_id %>">
    <input type="hidden" name="confirmed" value="true">
    <input type="submit" name="accept" class="btn btn-default bt-md" value="Accept">
  </form>

  <form id="reject-request" action="/requests/<%= @current_request.id %>" method="post">
    <input type="hidden" name="_method" value="put">
    <input type="hidden" name="confirmed" value="false">
    <input type="submit" name="reject" class="btn btn-default bt-md" value="Reject">
  </form>
</p>
</div>
</div>
<% else %>

  <p>Please log in</p>

<% end %>
